body{
    background-color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#div1{
    background-color: crimson;
    font-family: 'Josefin Sans', sans-serif;
    height: 600px;
}
#startbtn{
    width: 100px;
    height: 50px;
    background-color: chartreuse;
    color: white;
    font-size: 25px;
}
img{
    width: 250px;
    height: 200px;
}